.notfound {
  height: 100vh;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dynamic-msg::after {
  content: "$#&%, you broke something! Just kidding...";
}
.info{
    text-align: center;
    width: 100%;
    height: 20%;
}